@media only screen and (min-width: 1000px) {
    .flyer {
        display: flex;
        flex-direction: row;
    }
}
@media only screen and (max-width: 1000px) {
    .flyer {
        display: flex;
        flex-direction: column;
    }
}
.section {
    display: flex;
    flex-direction: column;
    background: #efe9dd;
    color: #5a4c3d;
    font-size: 18px;
    margin: 1%;
    padding: 4%;
}
@media only screen and (min-width: 1000px) {
    .screen-dependent-section-properties {
        width: 33.33%;
        height: 650px;
    }
}
@media only screen and (max-width: 1000px) {
    .screen-dependent-section-properties {
        width: 93%;
    }
}
.item {
    align-self: center;
}
.central-text {
    text-align: center;
}
.flourish {
    transform: scale(0.2);
}
.vertical-padding {
    margin: 25px 0px;
}
.line {
    border-top: 1px solid #5a4c3d;
}
.germany {
    transform: scale(0.8);
}
