.flyer {
    display: flex;
    flex-direction: row;
}


.section {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    background: #efe9dd;
    color: #5a4c3d;
    font-size: 18px;
    height: 720px;
    margin: 15px;
    padding: 15px;
}
.item {
    align-self: center;
}
.central-text {
    text-align: center;
}
.flourish {
    transform: scale(0.2);
}

.line {
    border-top: 1px solid #5a4c3d;
}
.germany {
    transform: scale(0.8);
}
